:root{
    --bs-body-font-family: 'Poppins', sans-serif;
    --bs-primary-bg-subtle: #fff;
}

.accordion-button{
    background-color: #cf7d30;
    color: #fff
}

.accordion-button:focus{
    box-shadow: none;
}

.accordion-button:not(.collapsed){
    background-color: #cf7d30;
    font-weight: 600;
    color: #fff
}

#logo{
    width: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
}
h1{
    font-weight: 800 !important;
  }
  
h2{
    font-weight: 600 !important;
  }
  
h3{
    font-weight: 400 !important;
  }
  
.promo-block {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    color: white;
    background-color: red;
}

.promo-block img {
    animation: promoBlockIcon 1s ease-in 0s 1 normal forwards;
}

@keyframes promoBlockIcon {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

p{
    font-weight: 200 !important;
    font-size: 16px !important;
    font-weight: 400 !important;
  }
  li{
    list-style-type: none;
  }

  .container .nav .nav-link {
    color: #C48041;
    font-family: 'Poppins';
    font-weight: 600;
  }

  .container .nav .active{
    background-color: #C48041;
    color: #fff;
    font-family: 'Poppins';
    font-weight: 500;
  }

main.fondo {
    height: 100vh;
    color: #ffffff;
    background-image: url("../img/bgmain.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    display: flex;
    align-items: center;
}

section.testimonios {
    background-color: #1D1D29;
    color: #ffffff
}

.card{
    color:#000000
}

section.fondo{
    background-color: #F7EDE3;
}

.news{
    width: 70%;
}

.fondoalter{
    background-color: #F7EDE3;
}

p.textoburga{
    padding-right: 18%;
    padding-top: 10px;
    padding-bottom: 10px;
}

section.fondonewsletter{
    background-color: #ED2122;
}

    .boton_1{
        background-color: #00C977;
        color: #fff;
        
  }


    .boton_1:hover{
        background-color: #02AA61;
        color: #ffffff;
        font-weight: 600;
        
    }


    .boton_3{
        background-color: #00C977;
        color: #fff;
    }

    .boton_3:hover{
        background-color: #02AA61;
        color: #fff;
        cursor: pointer;
        font-weight: 600;
        
    }

  
    @media (max-width: 992px) {
        #nav-home{
            position: absolute;
            z-index: 999;
            background-color: rgb(0, 0, 0);
        }
        #nav-extra{
            background-color: rgba(0, 0, 0);
          }
          .final{
              padding-bottom: 50vh;
            }

        }
        
        
        
        @media (min-width: 992px) {
            #nav-home{
                position: absolute;
                z-index: 999;
                background-color: rgba(0, 0, 0, 0.39);
            }
            #nav-extra{
                background-color: rgba(0, 0, 0);
            }
  }
  
  .carrito-acumulator{
    margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
    #smartcart1 {
        display: none;
        align-items: end;
        color: #000000
    }
}

@media screen and (max-width: 768px) {
    #smartcart {
        display: none;
        color: #000000
    }
}

.img-coffee-bags,
.coffee-card {
    max-width: 300px;
}